/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

article span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #245476;
  font-weight: bold;
  font-size:1.8em;
  margin-bottom: 2em;
  background-image:url('/images/moi.png');background-repeat:no-repeat;padding-left:50px;
}

  .site .title span {
    display:block;
    font-size: 0.7em;
    line-height: 1.5em;
  }
  .site .title a {
    color: #9f111b;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 2px dotted #245476;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      margin-top: 1.1em;
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact ul {
          list-style:none;
      }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {

}

  /* standard */

  .post .post-title {
    font-weight:bold;
    color: #245476;
  }
  .post .post-title a {
    text-decoration: none;
  }
  .post-content {
    color:#505050;
  }
  .post-content a {
    text-decoration: none;
    color: #245476;
    font-weight: bold;
  }
  .post-content a:hover {
    text-decoration: underline;
  }

  .post-content pre {
    border: 1px solid #ddd;
    background-color: #F5F4EF;
    padding: 0 .4em;
  }

  .post-content ul,
  .post-content ol {
    margin-left: 1.35em;
  }

  .post-content code {
    border: 1px solid #ddd;
    background-color: #F5F4EF;
    font-size: 85%;
    padding: 0 .2em;
  }

    .post-content pre code {
      border: none;
    }

  /* terminal */

  .post-content pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  .post-content pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}
  #related ol, #related ul {
    list-style:none;
  }
  #related span {
    color: #aaa;
    font-family: Monaco,"Courier New", Monospace;
    font-size: 80%;
  }
  #related a {
    text-decoration: none;
    color: #245476;
    font-weight: bold;
    font-size: 80%;
  }
  #related a:hover {
    text-decoration: underline;
  }

  #related h2 {
    margin-bottom: 1em;
    border-bottom:1px dotted #999;color:#9f111b;
  }
