---
layout: default
title: Home
---

<main class="content" role="main">

    <nav class="pagination up" role="pagination">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
          {% else %}
          <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Nouveaux Posts</a>
          {% endif %}
        {% endif %}
        <span class="page-number"> Page {{paginator.page}} de {{paginator.total_pages}} </span>
        {% if paginator.next_page %} 
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Anciens Posts &raquo;</a>
        {% endif %} 
    </nav>

    {% for post in paginator.posts %}
    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }}
        </section>
	<aside class="post-meta">
		<p>Posté le <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time>
                {% if post.categories %}dans la catégorie&nbsp;{{ post.categories | category_links }}{% endif %}
		{% if post.tags.size != 0 %}(tags:&nbsp;{{ post.tags | tag_links }}){% endif %}
		par {% if post.author %}{{ post.author }}{% else %}{{ site.author.name }}{% endif %}</p>
	</aside>
    </article>
    {% endfor %}

    <nav class="pagination" role="pagination">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
          {% else %}
          <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Nouveaux Posts</a>
          {% endif %}
        {% endif %}
        <span class="page-number"> Page {{paginator.page}} de {{paginator.total_pages}} </span>
        {% if paginator.next_page %} 
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Anciens Posts &raquo;</a>
        {% endif %} 
    </nav>

</main>
