<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
<meta name="verify-v1" content="cfM+BxZ/os8cme0oIVd46OIwqyXUsorha7mssfQtQ4k=" />
<meta name="robots" content="all,index,follow" />
<meta name="DC.title" content="{{ page.title }}" />
<meta name="DC.Creator" content="" />
<meta name="DC.Description" content="Le meilleur du pire de mes flux RSS (et de Twitter): PSES2014: ELK - Elasticsearch, Logstash &amp; Kibana" />
<meta name="DC.Language" content="fr" />
<meta name="DC.Publisher" content="Jean Baptiste Favre"/>
<meta name="description" content="Le meilleur du pire de mes flux RSS (et de Twitter): PSES2014: ELK - Elasticsearch, Logstash &amp; Kibana" />
<meta name="Robots" content="index, follow" />
<meta http-equiv="Expires" content="Sat, 12 Jul 2014 08:25:51 GMT" />
<meta http-equiv="Last-Modified" content="Mon, 30 Jun 2014 15:03:35 GMT"/>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
<!-- link rel="alternate" type="application/rss+xml" title="Blog-notes au format RSS 2.0" href="/rss.xml" / -->
<link rel="alternate" type="application/atom+xml" title="Blog-notes au format Atom 1.0" href="{% page_feed_url %}" />
<link rel="icon" type="image/png" href="http://medias.jbfavre.org/moi.png" />
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{% minified_css_file %}" type="text/css" />
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>
<body class="site">
  <header id="header">
    <h1 class="title"><a href="/">Mon Blog-notes à moi que j'ai</a>
    <span>Le meilleur du pire de mes flux RSS (et de Twitter)</span></h1>
  </header><!-- fin header -->

  {{ content }}

  <aside id="category">
    <h2>Categories</h2>
    <ul>
    {% for category in site.categories %}
      <li><a href="{{ site.base_url }}/categories/{{ category | first }}/">{{ category | first }}</a> ({{ category | last | size }})</li>
    {% endfor %}
    </ul>
  </aside>
  <footer class="footer">
    <section class="contact">
      <ul>
	  <li><a href="{{ site.owner.url }}" title="{{ site.owner.name }}">{{ site.owner.name }}</a></li>
          <li>{{ site.owner.position }}</li>
          <li>Currently @ {{ site.owner.company }}</li>
      </ul>
    </section>
    <section class="contact">
      <ul>
      {% if site.owner.github %}
        <li><a href="//github.com/{{ site.owner.github }}/">github.com/{{ site.owner.github }}</a></li>
      {% endif %}
      {% if site.owner.twitter %}
        <li><a href="//twitter.com/{{ site.owner.twitter }}/">twitter.com/{{ site.owner.twitter }}</a></li>
      {% endif %}
      {% if site.owner.gnusocial %}
        <li><a href="//{{ site.owner.gnusocial }}/">{{ site.owner.gnusocial }}</a></li>
      {% endif %}
      </ul>
    </section>
    <aside class="rss">
      <a href="/atom.xml">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </aside>
  </footer>
</body>
</html>
